body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: blue;
}
.login-form{
  width: 40vw;
  height: 65vh;
  
}
img{
  height: 100%;
  width: 100%;
  filter: blur(7);
  z-index: 0;
}